<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
	<script type="text/javascript" src="castle_game.js?v=2"></script> 
	
	
	<link rel="stylesheet" type="text/css" href="castle_game.css" </link>
</head>
<body>
	<div id="gameWrapper" class="game-wrapper">
		<div id="map" class="map-container">
			<div id="loadSquares" class="squares-container">
			</div>
		</div>
		<div id="controls" class="controls-bar">
		</div>
	</div>
</body>
</html>