<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Optional theme -->
<link rel="stylesheet" type="text/css" href="/public/stylesheets/castle_game.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="/public/javascripts/castle_game.js"></script>

<div id="sizebox" class="{{sqsize}}"></div>

<div id="gameWrapper" class="game-wrapper">
	<div class="map-background"></div>
	<div id="map" class="map-container">
		<div id="loadSquares" class="squares-container">
			{{#each allsquares}}
			{{#each this}}
			<div class="tile-{{this}}"></div>
			{{/each}}


			{{/each}}
		</div>
	</div>

	<div id="controls" class="controls-bar">
	</div>
</div>

